@font-face {
  font-family: "yekan";
  src: url('./assets/font/yekanbakh-regular.ttf'),
       url('./assets/font/yekanbakh-regular.ttf') ,
       url('./assets/font/yekanbakh-regular.eot') ;
}
@font-face {
  font-family: "yekan-bold";
  font-weight: 500;
  src: url('./assets/font/yekanbakh-bold.woff'),
  url('./assets/font/yekanbakh-bold.ttf') ,
       url('./assets/font/yekanbakh-bold.eot') ;
}
body{
  margin: 0;
}
* {
  font-family: 'yekan-bold'  ;
  
}
